<div class="card">
    <div class="footer-card">
      <div class="row">
        <div class="col-md-4">
          <br>
          <h5><u>Authors:</u></h5>
          <h5> Nicole Reilly</h5>
          <h5> Katheryn White</h5>
          <h5> Lane Schmidt</h5>
          <h5> Kevin Salgado</h5>
          <h5> Maggie Little</h5>
        </div>
        <div class="col-md-4">
          <br>
          <h5><u>Links for you:</u></h5>
          <h5><a href="https://gist.github.com/barrycumbie/bbf76cb219a3e7579de1607d7e91fceb">Class Page</a></h5>
          <h5><a href="https://github.com/nicolereilly">Nicole Reilly's GitHub</a></h5>
          <h5><a href="https://github.com/katherynisabell">Katheryn White's GitHub</a></h5>
          <h5><a href="https://github.com/lane30schmidt">Lane Schmidt's GitHub</a></h5>
          <h5><a href="https://github.com/kbrian5">Kevin Salgado's GitHub</a></h5>
          <h5><a href="https://github.com/mlittle98">Maggie Little's GitHub</a></h5>
        </div>
        <div class="col-md-4">
          <br>
          <h5><u>What makes this page work:</u></h5>
          <h5><a href="https://github.com/nicolereilly/mobile-ordering">See The Code</a></h5>
          <h5><a href="https://github.com/users/nicolereilly/projects/1">Here is our project page</a></h5>
          <h5><a href="https://github.com/nicolereilly/mobile-ordering/wiki">Our Wiki</a></h5>
        </div>
      </div>
    </div>
</div>