<section id="content1" class="tab-content">
  <div class="welcome-card">
    <div class="card-body">
      <h2>About Trowbridge!</h2>
      <h4>Trowbridge’s and Sandwich Shop is located at 316 North Court Street and is a truly a Florence,
        Alabama landmark. Opened in 1918, Trowbridge’s is the oldest business still operating in its original location
        in Florence. Still owned by the Trowbridge family, the shop seats fifty, and the menu features sandwiches,
        chili, ice cream, milkshakes!

      </h4>
      <div class="flex">
      <img src="/img/outsidebuilding.png" width="250px" height="250px" alt="Outside">
      <img src="/img/insidemenu.png" width="250px" height="250px" alt="Menu inside of Trowbridges">
      <img src="/img/interior.png" width="250px" height="250px" alt="Interior of Trowbridges">
      <img src="/img/exterior.png" width="250px" height="250px" alt="exterior of Trowbridges" >
      </div>
    </div>
  </div>
</section>