<section id="content1" class="tab-content">
  <div class="welcome-card">
    <div class="card-body">
      <h4>Trowbridge’s and Sandwich Shop is located at 316 North Court Street and is a truly a Florence,
        Alabama landmark. Opened in 1918, Trowbridge’s is the oldest business still operating in its original location
        in Florence. Still owned by the Trowbridge family, the shop seats fifty, and the menu features sandwiches,
        chili, ice cream, milkshakes!

      </h4>
      <div class="flex">
      <img src="/img/outsidebuilding.png" width="250px" height="250px" alt="Outside">
      <img src="/img/insidemenu.png" width="250px" height="250px" alt="Menu inside of Trowbridges">
      <img src="/img/interior.png" width="250px" height="250px" alt="Interior of Trowbridges">
      <img src="/img/exterior.png" width="250px" height="250px" alt="exterior of Trowbridges" >
      </div>
      <h2> 
        <a href="https://www.google.com/maps/place/Trowbridge's+Ice+Cream+Bar/@34.8026054,-87.6795133,17z/data=!4m8!3m7!1s0x887d485df0709ec1:0xd49349b97d1afb78!8m2!3d34.802601!4d-87.676933!9m1!1b1!16s%2Fg%2F1thsgpcl"><img src="/img/location.png" width="75px" height="50px" alt= "Visit Icon" /></a>
        Visit our Store!       
        <a href="https://www.google.com/maps/place/Trowbridge's+Ice+Cream+Bar/@34.8026054,-87.6795133,17z/data=!4m8!3m7!1s0x887d485df0709ec1:0xd49349b97d1afb78!8m2!3d34.802601!4d-87.676933!9m1!1b1!16s%2Fg%2F1thsgpcl"><img src="/img/location.png" width="75px" height="50px" alt= "Visit Icon" /></a>
      </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.132612278618!2d-87.67951329019103!3d34.80260537762766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887d485df0709ec1%3A0xd49349b97d1afb78!2sTrowbridge&#39;s%20Ice%20Cream%20Bar!5e0!3m2!1sen!2sus!4v1683046476298!5m2!1sen!2sus" width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h2> Let's Get in Touch! </h2>
      <a href="tel:12567641503"><img src="/img/call.png" width="120px" height="100px" alt= "Call 5551234567" /></a>
      <a href="http://facebook.com/Trowbridges-in-downtown-Florence-Alabama-104867216212710/"><img src="/img/FB.png" width="120px" height="100px" alt= "CLick to Facebook" /></a>
      <a href="https://trowbridges.four-food.com/"><img src="/img/Reviews.png" width="120px" height="100px" alt= "CLick to Reviews" /></a>
    </div>
  </div>
</section>