<section id="content1" class="tab-content">
  <div class="card">
    <div class="card-title">
      <h1>Welcome to the Trowbridge Mobile Order App</h1>
      <h2>History</h2>
    </div>
    <div class="card-body">
      <h4>Trowbridge’s and Sandwich Shop (nee Bar), located at 316 North Court Street, is a truly a Florence,
        Alabama landmark. Opened in 1918, Trowbridge’s is the oldest business still operating in its original location
        in
        Florence. Still owned by the Trowbridge family (third generation, Paul’s grandson, Don), the shop seats fifty,
        and
        the menu features sandwiches, chili, ice cream, milkshakes, and Wednesdays are bean day.

        An unassuming building and restaurant with large windows that face Court Street, the eight stools at the food
        counter allow customers to watch their sandwiches being assembled or their being dipped. Booths line the
        wall on the left and various artworks (photographs, newspaper clippings, and a few original pieces by local
        artists) are hung around the restaurant giving the customer an impromptu history of place; both Florence’s and
        Trowbridge’s. Locals of a certain age will recognize the waitresses of yesteryear in the oil painting on the
        back
        wall. Several small tables are scattered between the booths and the counter. The green vinyl padding on the
        stools
        and the chairs, alongside the 1950s style formica tables, give the place a completely unassuming retro feel.
      </h4>
      <img src="/img/outsidebuilding.png" alt="outside of Trowbridges">
      <img src="/img/insidemenu.png" alt="Menu inside of Trowbridges">
      <img src="/img/interior.png" alt="Interior of Trowbridges">
      <img src="/img/exterior.png" alt="exterior of Trowbridges" style="width:250px;height:183px;">
    </div>
  </div>


</section>