<!DOCTYPE html>

<html lang="html">

<head>
  <title>Trowbridges Mobile Order</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css">
</head>
</head>


<body>
  <!-- START TABS -->
  <h1>🍦Trowbridge's Mobile Order - Place Your Order Below!🍦</h1>

  <div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Welcome</span></label>


    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Menu</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><span>Order</span></label>
    <!-- END TABS -->

    <!--START NAV BAR -->
    <nav class="navbar navbar-expand-sm bg-light">
      <a class="navbar-brand" href="#"></a>
    </nav>
    <!--END NAV BAR -->

    <body>
      <!-- WELCOME PAGE-->
      <%- include('partials/welcome') %>

        <!-- MENU PAGE -->
        <%- include('partials/menu') %>

          <!-- START ORDER PAGE -->
          <section id="content3" class="tab-content">
            <h2>Accordion</h2>

            <button class="accordion">Scoop</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">Dish</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">1/2 Pint</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">Pint</button>
            <div class="panel">
              <p>text</p>
            </div>


            <button class="accordion">Sandwiches</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">Drinks</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">Malts/Shakes</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">Sundaes</button>
            <div class="panel">
              <p>text</p>
            </div>

            <button class="accordion">Soda</button>
            <div class="panel">
              <p>text</p>
            </div>






            <br>
            <h1>Start Your Order</h1>
            <div class="menu" id="menu"></div>

            <div class="order-completed-container" id="order-completed-container">
              <div class="thankyou-screen" id="thankyou-screen"></div>
            </div>

            <div class="order-total" id="order-total">
              <h1>Your Order</h1>
              <div class="total" id="total">
              </div>
              <h3 class="total-price" id="total-price"></h3>
              <button id="complete-order-btn" class="complete-order-btn">Complete Order</button>
            </div>


            <div class="overlay">
              <div class="modal hidden" id="modal">
                <form action="#">
                  <div class="close-modal-btn-container">
                    <button class="modal-close-btn" id="modal-close-btn">X</button>
                  </div>
                  <h2>Enter card details</h2>
                  <label for="name"></label>
                  <input id="name" name="name" type="text" placeholder="Enter your name" required>
                  <input id="email" name="Email" type="email" placeholder="janedoe@gmail.com" required>
                  <label for="cardNumber"></label>
                  <input type="number" id="cardNumber" placeholder="Enter your card number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="9" required>
                  <label for="CVV"></label>
                  <input type="number" id="CVV" placeholder="Enter CVV"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="3" required>
                  <button type="submit" class="pay-btn" id="pay-btn">Pay</button>
                </form>
              </div>
            </div>

          </section>
          <!-- END ORDER PAGE-->


          <!-- START FOOTER -->
          <%- include('partials/footer') %>
            <%- include('partials/scripts') %>

    </body>

</html>