<h2>
  <%=herokuVar %>
</h2>

<!DOCTYPE html>

<html>

<!-- START TABS -->

<head>
  <h1>🍦Trowbridge's Mobile Order - Place Your Order Below!🍦</h1>

  <div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Welcome</span></label>


    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Menu</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><span>Order</span></label>

    <title>Trowbridge Mobile Order</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/style.css">
</head>
<!-- END TABS -->

<!--START NAV BAR -->
<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="#"></a>
</nav>
<!--END NAV BAR -->

<body>
  <!-- START WELCOME PAGE-->

  <section id="content1" class="tab-content">
    <h1>Welcome to the Trowbridge Mobile Order App!</h1>
    <h3>History</h3>
    <h4>Trowbridge’s and Sandwich Shop (nee Bar), located at 316 North Court Street, is a truly a Florence,
      Alabama landmark. Opened in 1918, Trowbridge’s is the oldest business still operating in its original location in
      Florence. Still owned by the Trowbridge family (third generation, Paul’s grandson, Don), the shop seats fifty, and
      the menu features sandwiches, chili, ice cream, milkshakes, and Wednesdays are bean day.

      An unassuming building and restaurant with large windows that face Court Street, the eight stools at the food
      counter allow customers to watch their sandwiches being assembled or their being dipped. Booths line the
      wall on the left and various artworks (photographs, newspaper clippings, and a few original pieces by local
      artists) are hung around the restaurant giving the customer an impromptu history of place; both Florence’s and
      Trowbridge’s. Locals of a certain age will recognize the waitresses of yesteryear in the oil painting on the back
      wall. Several small tables are scattered between the booths and the counter. The green vinyl padding on the stools
      and the chairs, alongside the 1950s style formica tables, give the place a completely unassuming retro feel.</h4>
  </section>
  <!-- END WELCOME PAGE-->

  <!-- START MENU PAGE -->
  <section id="content2" class="tab-content">
    <br>
    <h1>Browse Our Menu Below!</h1>
    <br>
    <div class="row">
      <img src="/img/menu.png" alt="menu">
    </div>
  </section>
  <!-- END MENU PAGE -->



  <!-- START ORDER PAGE -->
  <section id="content3" class="tab-content">
    <br>
    <h1> <u> Start Your Order</u></h1>
    <div class="menu" id="menu">
    </div>

    <div class="order-completed-container" id="order-completed-container">
      <div class="thankyou-screen" id="thankyou-screen">
      </div>
    </div>

    <div class="order-total" id="order-total">
      <h1>Your Order</h1>
      <div class="total" id="total">
      </div>
      <h3 class="total-price" id="total-price"></h3>
      <button id="complete-order-btn" class="complete-order-btn">Complete Order</button>
    </div>


    <div class="overlay">
      <div class="modal hidden" id="modal">
        <form action="#">
          <div class="close-modal-btn-container">
            <button class="modal-close-btn" id="modal-close-btn">X</button>
          </div>
          <h2>Enter card details</h2>
          <label for="name"></label>
          <input id="name" name="name" type="text" placeholder="Enter your name" required>
          <label for="cardNumber"></label>
          <input type="number" id="cardNumber" placeholder="Enter your card number"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="9" required>
          <label for="CVV"></label>
          <input type="number" id="CVV" placeholder="Enter CVV"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="3" required>
          <button type="submit" class="pay-btn" id="pay-btn">Pay</button>
        </form>
      </div>
    </div>

  </section>
  <!-- END ORDER PAGE-->


  <!-- START FOOTER -->
  <div class="card-footer">
    <div class="footer card">
      <div class="row">
        <div class="col-md-4">
          <br>
          <h3><u>Authors:</u></h3>
          <h5> Nicole Reilly</h5>
          <h5> Katheryn White</h5>
          <h5> Lane Schmidt</h5>
          <h5> Kevin Salgado</h5>
          <h5> Maggie Little</h5>
        </div>
        <div class="col-md-4">
          <br>
          <h3><u>Links for you:</u></h3>
          <h5><a href="https://gist.github.com/barrycumbie/bbf76cb219a3e7579de1607d7e91fceb">Class Page</a></h5>
          <h5><a href="https://github.com/nicolereilly">Nicole Reilly's GitHub</a></h5>
          <h5><a href="https://github.com/katherynisabell">Katheryn White's GitHub</a></h5>
          <h5><a href="https://github.com/lane30schmidt">Lane Schmidt's GitHub</a></h5>
          <h5><a href="https://github.com/kbrian5">Kevin Salgado's GitHub</a></h5>
          <h5><a href="https://github.com/mlittle98">Maggie Little's GitHub</a></h5>
        </div>
        <div class="col-md-4">
          <br>
          <h3><u>What makes this page work:</u></h3>
          <h5><a href="https://github.com/nicolereilly/mobile-ordering">See The Code</a></h5>
          <h5><a href="https://github.com/users/nicolereilly/projects/1">Here is our project page</a></h5>
          <h5><a href="https://github.com/nicolereilly/mobile-ordering/wiki">Our Wiki</a></h5>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"></script>
    <script src="/scripts/orderscript.js"></script>
    <!-- END FOOTER -->

</body>

</html>