<h2>
  <%=herokuVar %>
</h2>

<!DOCTYPE html>

<html>

<!-- START TABS -->

<head>
  <h1>🍦Trowbridge's Mobile Order - Place Your Order Below!🍦</h1>

  <div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Welcome</span></label>


    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Menu</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><span>Order</span></label>


    <title>Trowbridge Mobile Order</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/style.css">
</head>
<!-- END TABS -->

<!--START NAV BAR -->
<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="#"></a>
</nav>
<!--END NAV BAR -->

<body>
  <!-- START WELCOME PAGE-->

  <section id="content1" class="tab-content">
    <h1>Welcome to the Trowbridge Mobile Order App!</h1>
    <h3>History</h3>
    <h4>Trowbridge’s and Sandwich Shop (nee Bar), located at 316 North Court Street, is a truly a Florence,
      Alabama landmark. Opened in 1918, Trowbridge’s is the oldest business still operating in its original location in
      Florence. Still owned by the Trowbridge family (third generation, Paul’s grandson, Don), the shop seats fifty, and
      the menu features sandwiches, chili, ice cream, milkshakes, and Wednesdays are bean day.

      An unassuming building and restaurant with large windows that face Court Street, the eight stools at the food
      counter allow customers to watch their sandwiches being assembled or their being dipped. Booths line the
      wall on the left and various artworks (photographs, newspaper clippings, and a few original pieces by local
      artists) are hung around the restaurant giving the customer an impromptu history of place; both Florence’s and
      Trowbridge’s. Locals of a certain age will recognize the waitresses of yesteryear in the oil painting on the back
      wall. Several small tables are scattered between the booths and the counter. The green vinyl padding on the stools
      and the chairs, alongside the 1950s style formica tables, give the place a completely unassuming retro feel.</h4>
  </section>
  <!-- END WELCOME PAGE-->

  <!-- START MENU PAGE -->
  <section id="content2" class="tab-content">
    <br>
    <h1>Browse Our Menu Below!</h1>
    <br>
    <div class="row">
      <div class="menu-card">
        <h2 class="card-title">Sandwiches</h2>
        <div class="card-body">
          <p>Ham -- $3.85</p>
          <p>Ham Salad -- $2.70</p>
          <p>Chicken Salad -- $2.70</p>
          <p>Pimento Cheese -- $2.70</p>
          <p>Egg & Olive -- $2.70</p>
          <p>Tuna -- $2.70</p>
          <p>Tomato & Lettuce -- $1.65</p>
          <p>Hot Dog -- $1.10</p>
          <p>Grilled Cheese -- $1.50</p>
          <p>Banana -- $1.65</p>
          <p>Turkey -- $3.85</p>
          <p>Biscuit/Jelly -- $0.75</p>
          <p>Ham & Buscuit -- $1.30</p>
        </div>
      </div>
      <div class="menu-card">
        <h2 class="card-title">Drinks</h2>
        <div class="card-body">
          <p>Hot Chocolate -- $1.10</p>
          <p>Milk -- $1.00</p>
          <p>Coffee -- $0.95</p>
          <p>Soft Drinks -- $1.15</p>
          <p>Tea -- $0.95</p>
          <p>Lemonade -- $0.95</p>
        </div>
      </div>
      <div class="menu-card">
        <h2 class="card-title">Malts/Shakes</h2>
        <div class="card-body">
          <p>Malts -- $2.70</p>
          <p>Shakes -- $2.60</p>
          <p>Large Chocolate Milk -- $1.30</p>
          <p>Small Chocolate Milk -- $1.10</p>
        </div>
      </div>
      <div class="menu-card">
        <h2 class="card-title"> Soda</h2>
        <div class="card-body">
          <p>Cherry -- $1.10</p>
          <p>Strawberry -- $1.10</p>
          <p>Chocolate -- $1.10</p>
        </div>
      </div>
      <div class="menu-card">
        <h2 class="card-title">Sundaes</h2>
        <div class="card-body">
          <p>Banana Split -- $3.90</p>
          <p>Fruit Split -- $3.70</p>
          <p>Hot Fudge -- $2.80</p>
          <p>Hot Butterscoth -- $2.80</p>
          <p>Hot Caramel -- $2.80</p>
          <p>Fruit -- $3.05</p>
          <p>Cherry -- $2.75</p>
          <p>Pineapple -- $2.75</p>
          <p>Chocolate -- $2.75</p>
          <p>Strawberry -- $2.75</p>
        </div>
      </div>
    </div>
    <br>

    <h1> Sizes</h1>
    <div class="icecream-card">
      <div class="card-body">
        <p>Cones / per dip -- $1.10</p>
        <p>Dish -- $2.20</p>
        <p>1/2 Pint -- $2.20</p>
        <p>Pints -- $4.40</p>
      </div>
    </div>
    <br>
    <br>

    <h1> Flavors</h1>
    <br>
    <div class="row">
      <div class="flavor-card">
        <div class="card-body">
          <p>Vanilla</p>
          <p>Chip Chocolate</p>
          <p>Peachy Peach</p>
          <p>Chocolate Caramel Cherry</p>
          <p>Rainbow Sherbet</p>
          <p>Cookie Dough</p>
        </div>
      </div>
      <div class="flavor-card">
        <div class="card-body">
          <p>Orange Pineapple</p>
          <p>O’Charley’s Caramel Pie</p>
          <p>Chocolate</p>
          <p>Strawberry</p>
          <p>Black Walnut</p>
          <p>Cookies & Cream</p>
        </div>
      </div>
      <div class="flavor-card">
        <div class="card-body">
          <p>Butter Pecan</p>
          <p>Cherry Vanilla</p>
          <p>Red Velvet Cake</p>
          <p>Chocolate Marshmallow Almond</p>
          <p>Sugarfree Vanilla</p>
          <p>Sugarfree Butter Pecan</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END MENU PAGE -->

  <!-- START ORDER PAGE -->
  <section id="content3" class="tab-content">
    <div class="order-card">
      <br>
      <h1>Select Your Flavor and Size Below:</h1>
    </div>


    <!-- Products-->
    <div class="ordersundaes-card">
      <h2 class="card-title">Sundaes</h2>

      <!-- START PRODUCT 1-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Banana Split</div>

        </div>
        <div class="product-price">3.90</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 1-->
      <!-- START PRODUCT 2-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Fruit Split</div>

        </div>
        <div class="product-price">3.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 2-->
      <!-- START PRODUCT 3-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Hot Fudge</div>

        </div>
        <div class="product-price">2.80</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 3-->
      <!-- START PRODUCT 4-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Hot Butterscoth</div>

        </div>
        <div class="product-price">2.80</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 4-->
      <!-- START PRODUCT 5-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Hot Caramel</div>

        </div>
        <div class="product-price">2.80</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 5-->
      <!-- START PRODUCT 6-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Fruit</div>

        </div>
        <div class="product-price">3.05</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 6-->
      <!-- START PRODUCT 7-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Cherry</div>

        </div>
        <div class="product-price">2.75</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 7-->
      <!-- START PRODUCT 8-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Pineapple</div>

        </div>
        <div class="product-price">2.75</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 8-->
      <!-- START PRODUCT 9-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chocolate</div>

        </div>
        <div class="product-price">2.75</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 9-->
      <!-- START PRODUCT 10-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Strawberry</div>

        </div>
        <div class="product-price">2.75</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 10-->

    </div>
    <div class="ordersoda-card">
      <h2 class="card-title">Soda</h2>

      <!-- START PRODUCT 1-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Cherry</div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 1-->
      <!-- START PRODUCT 2-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Strawberry</div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 2-->
      <!-- START PRODUCT 3-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chocolate</div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 3 -->
    </div>


    <div class="ordermaltsshakes-card">
      <h2 class="card-title">Malts/Shakes</h2>

      <!-- START PRODUCT 1-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Malts</div>

        </div>
        <div class="product-price">2.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 1-->
      <!-- START PRODUCT 2-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Shakes</div>

        </div>
        <div class="product-price">2.60</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 2-->
      <!-- START PRODUCT 3-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Large Chocolate Milk</div>

        </div>
        <div class="product-price">1.30</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 3-->
      <!-- START PRODUCT 4-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Small Chocolate Milk</div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 4-->
    </div>
    <div class="orderdrinks-card">
      <h2 class="card-title">Drinks</h2>

      <!-- START PRODUCT 1-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Hot Chocolate </div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 1-->
      <!-- START PRODUCT 2-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Milk</div>

        </div>
        <div class="product-price">1.00</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 2-->
      <!-- START PRODUCT 3-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Coffee </div>

        </div>
        <div class="product-price">0.95</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 3-->
      <!-- START PRODUCT 4-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Soft Drinks </div>

        </div>
        <div class="product-price">1.15</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 4-->
      <!-- START PRODUCT 5-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Tea</div>

        </div>
        <div class="product-price">0.95</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 5-->
      <!-- START PRODUCT 6-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Lemonade</div>

        </div>
        <div class="product-price">0.95</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 6-->
    </div>


    <div class="ordersandwiches-card">
      <h2 class="card-title">Sandwiches</h2>

      <!-- START PRODUCT 1-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Ham </div>

        </div>
        <div class="product-price">3.85</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 1-->
      <!-- START PRODUCT 2-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Ham Salad </div>

        </div>
        <div class="product-price">2.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 2-->
      <!-- START PRODUCT 3-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chicken Salad </div>

        </div>
        <div class="product-price">2.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 3-->
      <!-- START PRODUCT 4-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Pimento Cheese </div>

        </div>
        <div class="product-price">2.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 4-->
      <!-- START PRODUCT 5-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Egg & Olive </div>

        </div>
        <div class="product-price">2.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 5-->
      <!-- START PRODUCT 6-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Tuna </div>

        </div>
        <div class="product-price">2.70</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 6-->
      <!-- START PRODUCT 7-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Tomato & Lettuce </div>

        </div>
        <div class="product-price">1.65</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 7-->
      <!-- START PRODUCT 8-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Hot Dog</div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 8-->
      <!-- START PRODUCT 9-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Grilled Cheese </div>

        </div>
        <div class="product-price">1.50</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 9-->
      <!-- START PRODUCT 10-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Banana </div>

        </div>
        <div class="product-price">1.65</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 10-->
      <!-- START PRODUCT 11-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Turkey </div>

        </div>
        <div class="product-price">3.85</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 11-->
      <!-- START PRODUCT 12-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Buscuit/Jelly </div>

        </div>
        <div class="product-price">0.75</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 12-->
      <!-- START PRODUCT 13-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Ham & Buscuit</div>

        </div>
        <div class="product-price">1.30</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 13-->
    </div>


    <div class="ordericecream-card">
      <h2 class="card-title">Ice Cream</h2>

      <!-- START PRODUCT 1-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Vanilla</div>

        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 1-->

      <!-- START PRODUCT 2-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chip Chocolate</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 2 -->

      <!-- START PRODUCT 3-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Peachy Peach</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 3 -->
      <!-- START PRODUCT 4-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chocolate Caramel Cherry</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 4 -->
      <!-- START PRODUCT 5-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Rainbow Sherbet</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 5 -->
      <!-- START PRODUCT 6-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Cookie Dough </div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 6 -->
      <!-- START PRODUCT 7-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Orange Pineapple</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 7 -->
      <!-- START PRODUCT 8-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">O’Charley’s Caramel Pie </div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 8 -->
      <!-- START PRODUCT 9-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chocolate</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 9 -->
      <!-- START PRODUCT 10-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Strawberry</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 10 -->
      <!-- START PRODUCT 11-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Black Walnut</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 11 -->
      <!-- START PRODUCT 12-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Cookies & Cream</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 12 -->
      <!-- START PRODUCT 13-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Butter Pecan</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 13 -->
      <!-- START PRODUCT 14-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Cherry Vanilla</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 14 -->
      <!-- START PRODUCT 15-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Red Velvet Cake</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 15 -->
      <!-- START PRODUCT 16-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Chocolate Marshmallow Almond</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 16 -->
      <!-- START PRODUCT 17-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Sugarfree Vanilla</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 17 -->
      <!-- START PRODUCT 18-->
      <div class="product">
        <div class="product-details">
          <div class="product-title">Sugarfree Butter Pecan</div>
        </div>
        <div class="product-price">1.10</div>
        <br>
        <div class="product-quantity">
          <input type="number" value="0" min="0">
        </div>
        <br>
        <div class="product-removal">
          <button class="remove-product">
            Remove
          </button>
        </div>
        <div class="product-line-price">0.00</div>
      </div>
      <!-- END PRODUCT 18 -->
    </div>

    <!-- START shopping cart-->
    <div class="card w-120">
      <h1>Your Cart:</h1>
      <br>
      <div class="totals">
        <div class="totals-item">
          <h1 style="color:rgb(6, 6, 6);font-size:30px; text-align: center;">Subtotal
            <div class="totals-value" id="cart-subtotal">0.00</div>
          </h1>
        </div>
        <div class="totals-item">
          <h1 style="color:rgb(6, 6, 6);font-size:30px; text-align: center;">Tax (5%)
            <div class="totals-value" id="cart-tax">3.60</div>
          </h1>
        </div>
        <div class="totals-item">
          <div class="totals-item totals-item-total">
            <h1 style="color:rgb(6, 6, 6);font-size:30px; text-align: center;">Grand Total
              <div class="totals-value" id="cart-total">0.00</div>
            </h1>
          </div>
        </div>

        <button class="checkout">Checkout</button>

      </div>
    </div>
    <!-- END SHOPPING CART -->
  </section>
  <!-- END ORDER PAGE-->


  <!-- START FOOTER -->
  <div class="card-footer">
    <div class="footer card">
      <div class="row">
        <div class="col-md-4">
          <br>
          <h3><u>Authors:</u></h3>
          <h5> Nicole Reilly</h5>
          <h5> Katheryn White</h5>
          <h5> Lane Schmidt</h5>
          <h5> Kevin Salgado</h5>
          <h5> Maggie Little</h5>
        </div>
        <div class="col-md-4">
          <br>
          <h3><u>Links for you:</u></h3>
          <h5><a href="https://gist.github.com/barrycumbie/bbf76cb219a3e7579de1607d7e91fceb">Class Page</a></h5>
          <h5><a href="https://github.com/nicolereilly">Nicole Reilly's GitHub</a></h5>
          <h5><a href="https://github.com/katherynisabell">Katheryn White's GitHub</a></h5>
          <h5><a href="https://github.com/lane30schmidt">Lane Schmidt's GitHub</a></h5>
          <h5><a href="https://github.com/kbrian5">Kevin Salgado's GitHub</a></h5>
          <h5><a href="https://github.com/mlittle98">Maggie Little's GitHub</a></h5>
        </div>
        <div class="col-md-4">
          <br>
          <h3><u>What makes this page work:</u></h3>
          <h5><a href="https://github.com/nicolereilly/mobile-ordering">See The Code</a></h5>
          <h5><a href="https://github.com/users/nicolereilly/projects/1">Here is our project page</a></h5>
          <h5><a href="https://github.com/nicolereilly/mobile-ordering/wiki">Our Wiki</a></h5>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"></script>
    <script src="/scripts/orderscript.js"></script>
    <!-- END FOOTER -->

</body>

</html>