@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/*Clears contents when you change tabs*/
section {
  clear: both;
  display: none;
  position: center;
  background: #FFF7D7;
}



.card {
  background: #FFFAF5;
  border-width: 0.2cm;
  border-color: #D78963;
}

.card-body {
  position: center;
  text-align: center;
}

/* Styles for tabs */
label {
  font-weight: 700;
  font-size: 18px;
  display: auto;
  float: left;
  width: 33.33%;
  padding: 1.5em;
  /*tab text colors*/
  color: #FFF7D7;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  /* border: 2px solid #6E3E1E;; */
}

/* displays content */
#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
  display: block;
  padding: 20px;
  background: #FFF7D7;
  color: #6E3E1E;
  border-top: #6E3E1E;
  border-bottom: 2px solid #6E3E1E;
}


h1,
h2,
h3,
h4 {
  color: #6E3E1E;
  font-family: 'Playball', cursive;
  text-align: center;
}

h5 {
  color: #6E3E1E;
  font-family: 'Playball', cursive;
  text-align: left;
}

h6 {
  color: #6E3E1E;
  font-family: 'Playball', cursive;
  text-align: right;
}


.footer-card {
  width: 90%;
  bottom: 0%;
  margin: auto;
  text-align: center;
  padding-left: 50px;
  background: #yellow;
  margin-left: 50px;
  position: absolut;
  top: 0;
  left: 0;
}


.tab_container {
  background: #E97575;
}

/* These hide the radio buttons */
#tab1,
#tab2,
#tab3 {
  display: none;
}


html {
  background: #FFF7D7;
  ;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF7D7;
}

body,
button {
  font-family: 'Smythe', cursive;
}


/* menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px; 
  background-color: #FFFAF5;
  /* padding-left: 2%; */
  /* padding-right: 2%;
  padding-bottom: 4%;
  padding-top:4%; */
  /* margin: 0 auto; */

}



.details {
  width: 30%;
  font-size: x-large;
}

.add-btn {
  border: 0.5px solid #E97575;
  width: 175px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1.5px #E97575;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
  background: #FFF7D7;
  display: inline-block;
}

.add-btn:active,
.add-btn:hover {
  cursor: pointer;
  background-color: #E97575;
  box-shadow: 0 0px;
  transform: translateY(1px);
}



/* Order Cart Screen */

div#order-total {
  display: none;
  flex-direction: column;
  align-items: center;
}

.order-items,
.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3#total-price {
  width: 100%;
}

.order-items,
.item-row {
  height: 100px;
  width: auto;
  font-size: large;

}

div#order-items {
  display: flex;
  width: 100%;
  font-size: large;
}

.total-price {
  border-top: 2px solid #D2D2D2;
  padding: 1em;
}

.item-row {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.remove-btn {
  width: 200px;
  /* height: 20px; */
  margin: 5.5em;
  border: 1px solid #D2D2D2;
  background: none;
  color: #FF5A5F;
  cursor: pointer;
}

.order-total,
.remove-btn {
  text-align: center;
  font-size: 1.3rem;
  font-size: large;

}


.complete-order-btn {
  width: 508px;
  height: 60px;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  background: #bbe5f1;
  cursor: pointer;
  margin-bottom: 1em;
}

/* modal */
.overlay {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6E3E1E;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: block;
  position: fixed-top;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 90%;
  margin: auto;
  /* width: 524px;
  height: 750px; */
  border-radius: 7px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #FF8080;
  color: black;
  font-size: 1rem;
}

.modal-inner {
  width: 290px;
  margin: 0 auto;
}

input {
  text-align: left;
  width: 475.91px;
  height: 71.3px;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #6E3E1E;;
}

.pay-btn {
  margin-top: 1em;
  width: 475.91px;
  height: 71.3px;
  background: #FF8080;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

/* order completed */

.order-completed-container {
  display: flex;
}

.thankyou-screen {
  display: contents;
}

.thankyou-screen>p {
  width: 50%;
  height: 120px;
  padding: 1em;
  margin: 1em;
  background: #ECFDF5;
  border-radius: 3px;
  text-align: center;
  font-size: 2rem;
}

/* modal close button */

.close-modal-btn-container {
  margin-left: 29em;
  margin-top: 0.5em;
}

.modal-close-btn {
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: black;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: #FF8080;
  cursor: pointer;
}

/* utility */

.hidden {
  display: none
}

.visible {
  display: block
}